<!DOCTYPE html>
<html xmlns="http://www.w3.org./1999/xhtml"
    amlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8"/>
    </head>
    <body>
        <div>
            <form action="#" th:action="@{/save}" th:object="${pro}">
                    <table border="1">
                        <tr>
                            <td>Product Name</td>
                            <td><input type="text" th:field="*{product_name}"></td>
                        </tr>

                        <tr>
                            <td>Brand Name</td>
                            <td><input type="text" th:field="*{brand_name}"></td>
                        </tr>

                        <tr>
                            <td>PRoduct Price</td>
                            <td><input type="number" th:field="*{price}"></td>
                        </tr>

                        <td colspan="2"><button type="submit"></button>SAVE</td>
                    </table>
            </form>
        </div>
    </body>
</html>